<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oops!</title>
  </head>
  <body>
    <!-- {{#oops}} -->
      <p>sorry, you clearly are not who you say you are. 100 years dungeon.</p>
      <form method="get" action="/login">
      <button type="submit">Try Again</button>
  </form>
    <!-- {{/oops}} -->
  </body>
</html>
